body {
  background-color: rgb(255, 218, 139);
  text-align: center;
  color: rgb(24, 20, 20);
  font-family: monospace;
  margin: 0;
  padding: 0;
}

a {
  color: darkslategray;
  text-decoration: line;
}

a:hover {
  color: rgb(65, 122, 237);
  text-decoration: underline;
}

ul {
  color: rgb(20, 20, 20);
}

img {
  width: auto;
  height: auto;
}